$tabbar-strip-background-color: dynamic($orange);
$tabbar-scroller-opacity: dynamic(1);
$tabbar-scroller-opacity-over: dynamic(0.8);
$tabbar-scroller-opacity-pressed: dynamic(0.6);
$tabbar-scroller-opacity-disabled: dynamic(0.3);
