/** @class Ext.panel.Panel */
//

$panel-header-background-gradient: dynamic(color-stops(#f0f0f0, #d7d7d7));
$panel-border-color: dynamic(#d0d0d0);
$panel-header-color: dynamic(#333);
$panel-frame-background-color: dynamic(#f1f1f1);
